server:
  port: 8088
spring:
  ## 数据库
  datasource:
    name: DefaultDataSource
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: 123456
    url: jdbc:mysql://localhost:3306/quartz_test?serverTimezone=UTC
  nanjing-datasource:
    name: NanJingDataSource
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: 123456
    url: jdbc:mysql://localhost:3306/nanjing?serverTimezone=UTC
  ## 定时任务相关
  quartz:
    auto-startup: true
    job-store-type: JDBC
    overwrite-existing-jobs: true
    scheduler-name: quartzScheduler
    startup-delay: 0s
    wait-for-jobs-to-complete-on-shutdown: false
    properties:
      org:
        quartz:
          jobStore:
            class: org.quartz.impl.jdbcjobstore.JobStoreTX
            driverDelegateClass: org.quartz.impl.jdbcjobstore.StdJDBCDelegate
            tablePrefix: QRTZ_
            dataSource: DefaultDataSource